/* @import url('https://fonts.googleapis.com/css2?family=Jacquard+12&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Jersey+10&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal; */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background: #fff1f1;
}
:root::-webkit-scrollbar{
    display: none;
  }
  
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
a{
    text-decoration: none;
    color: inherit;
    line-height: 1;
    cursor: pointer;
}

li{
    list-style: none;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
}
.newcon{
    padding: 80px 10%;
}
/* .btn{
    background: #fff;
    color: #212121;
    padding: 10px 22px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btn img{
    width: 20px;
    margin-left: 10px;
}
.btn:hover{
    background: #212121;
    color: #fff;
    
} */
.btn.dark-btn{
    background: #212EA0;
    color: #fff;
}

